@font-face {
  font-family: bpg_glaho;
  src: url(../../assets/fonts/bpg_glaho.ttf);
}

$Azure: "#007FFF";
$beige-secondary: "#FFF0A5CC";
$green: "#12af64";
$red: "#EE3625";

.questionContainer {
  height: 100%;
  width: 75%;
  margin: 10% auto;

  max-width: 500px;
  min-height: 400px;

  .questions {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: center;
    .answers {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-gap: 30px 5%;
      align-items: center;

      .singleOption {
        display: table;
        padding: 10px 2px;
        height: 87%;
        font-weight: 600;
        font-family: bpg_glaho;
        border: 1px solid #{$Azure};
        border-radius: 20px;

        &:hover,
        &.active {
          background-color: #{$Azure};
          color: gainsboro;
          cursor: pointer;
        }

        &.correct {
          background-color: #{$green};
          color: white;
          border-color: #{$green};
        }
        &.wrong {
          background-color: #{$red};
          border-color: #{$red};
          color: white;
        }
      }

      span {
        display: table-cell;
        vertical-align: middle;
      }
    }
  }
}
.questionTitle {
  margin-bottom: 30px;
  font-size: 1.2em;
  border: 2px solid #{$Azure};
  background-color: #fdefc3;
  border-radius: 15px;
  padding: 7%;

}
a.quit {
  display: flex;
  justify-content: center;
  margin: 3% auto;
  width: 16%;
}

