.App {
    text-align: center;
}

.ProgressContainer,
.Progress {
    display: flex;
    justify-content: center;

}

.Progress {
    width: 400px;
    color: red;
    border: 1px solid black;   
}

.Loading {
    display: flex;
    justify-content: center;
    margin-top: 15%;
}