body {
  background-color: whitesmoke;
}
.homePage {
  margin-top: 12%;
}

.frontEnd {
  width: 30%;
}
.mainTitle {
  margin-bottom: 7%;
  color: #2364b0;
}

.startButton {
  font-size: 26px !important;
  color: #e54f26 !important;
}
.historyButton {
  display: flex;
  justify-content: center;
  width: 26%;
  margin: 3% auto;
  color: #247283 !important;
}

.QuizMainContainer {
  text-align: center;
  margin: 0 auto;
  background-color: beige;
  border: 5px solid #2364b0;
  width: 45%;
  padding-bottom: 2%;
  border-radius: 10px;
  font-family: bpg_glaho;
}

.ProgressContainer,
.Progress {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.Progress {
  width: 400px;
  font-weight: 600;
  padding: 6px;
  color: black;
  border: 1px solid #007fff;
}
.progress-bar {
  background-color: #007fff;
}

.Loading {
  display: flex;
  justify-content: center;
  margin-top: 15%;
}

.ScoreButton {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}
.PictureQuiz {
  width: 25%;
}

.scoreNumberGreen {
  color: green;
}

.scoreNumberBlue {
  color: blue;
}

.LastScore {
    width: 30%;
    border: 1px solid black;
    border-radius: 10px;
    margin: 0 auto;
    background-color: #fff0a5cc;
    padding: 10px;
    font-weight: 600;

    .LastTime {
      font-size: 14px;
    }
}
