@font-face {
  font-family: 'ChrustyRock-ORLA';
  src: url('../../src/assets/fonts/ChrustyRock-ORLA.ttf');
  }



button, .button2 {
  position: relative;
  font-family: "ChrustyRock-ORLA";
  z-index: 0;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
  color: #2364b0;
  font-weight: 600;
  font-size: 18px;
  background-color: transparent;
  
}
button {
  border: none;
}
button:before, .button2:before{
  content: "";
  background: linear-gradient(
    90deg,
    #77B6EA,
    #53ff8a,
    skyblue,
    #8affaf,
    #c0ffd4,
    #17ff8b
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(4px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

button:active, .button2:active {
  color: black;
}

button:active:after, .button2:active:after {
  background: transparent;
}

button:hover:before, .button2:hover:before{
  opacity: 1;
}

button:after, .button2:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  left: 0;
  top: 0;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
